## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.userprefs

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## Test results
TestResults/

## Coverage
coverage/
coverage.*

## NuGet
*.nupkg

## Publish
publish/
